#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_AU]=<%= @dir %>/bin/idea.png
Name[en_AU]=IntelliJ IDEA <%= @release %>
Exec=<%= @dir %>/bin/idea.sh
Name=IntelliJ IDEA <%= @release %>
Icon=<%= @dir %>/bin/idea.png
