#!/bin/bash

if [[ -z "$JAVA_HOME" ]]; then
	if [[ `uname` == "Darwin" ]]; then
		JAVA_HOME=`/usr/libexec/java_home`
	else
		JAVA_HOME=`/bin/readlink -f /usr/bin/javac | sed "s:bin/javac::"`
	fi
fi

# DRAKE-111 - for some reason even maven3 uses M2_HOME
export M2_HOME='<%= @target %>/apache-maven-<%= @version %>'
export JAVA_HOME
exec <%= @target %>/apache-maven-<%= @version %>/bin/mvn "$@"